<div class="loader">
    <h1>Loading</h1>
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div class="nav-container" id="an-header">
    <nav class="top-bar overlay-bar">
        <div class="container">
            <div class="row nav-menu">
               
                <div class="col-sm-12 columns" id="an-main-menu">
                <nav class="navbar navbar-default">
  <div class="container-fluid">    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#an-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo-dark" href="/"> <img class="logo" alt="Logo" src="/assets/img/logo-dark.png"></a>
      <a class="navbar-brand logo-light" href="/"> <img class="logo" alt="Logo" src="/assets/img/logo-light.png"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse"  id="an-navbar-collapse-1">
      <ul class="nav navbar-nav  navbar-left" id="an-middle-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/features/">Features</a></li>
        <li><a href="https://blog.appknox.com">Blog</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/team">Team</a></li>
          </ul>
        </li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="https://twitter.com/appknox" class="an-mobile-inline">
                 <i class="icon social_twitter"></i>
            </a>
            <a href="https://www.facebook.com/appknox" class="an-none an-mobile-inline">
                 <i class="icon social_facebook"></i>
            </a>
        </li>
        <li class="an-mobile-none">
            <a href="https://www.facebook.com/appknox">
                <i class="icon social_facebook"></i>
            </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
                </div>
        </div>
    </nav>
</div>
