---
layout: default
title: Not Found!
sitemap: false
---
html
  body
    section.no-pad.error-page.bg-primary.fullscreen-element(style='background-color: #495e67 !important')
      .container.align-vertical
        .row
          .col-sm-12.text-center
            i.icon.icon-compass
            h1.jumbo 404
            h1
              strong Oh dear, we seem to have gone amiss!
              br
              | Let's get back on track...
            a.btn.btn-primary.btn-white(href='/') Take Me Home
            a.btn.btn-primary.btn-white.btn-text-only(href='https://github.com/xysec/appknox.com/issues/new', target='_blank') Report This
