doctype html
html
  head
    title Appknox
    meta(name='description', content= description)
  body
    h1= title
    p= description
    script(src='/assets/js/index.js')
    script(id="livereload", src='//0.0.0.0:35729/livereload.js')
