doctype html
html
  head
    title Appknox
    meta(name='description', content= description)
    script(id="livereload", src='http://0.0.0.0:35729/livereload.js')
  body
    h1= title
    p= description
